.home {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 35px;
}

.home-container {
  margin-top: 10px;
}

.search-box {
  padding: 10px 20px;
  width: 600px;
  margin: 10px 0px;
  color: rgb(78, 78, 78);
  font-size: large;
  font-family: "Poppins";
  border-radius: 5px;
  box-shadow: 2px 2px 10px gray;
}

@media screen and (max-width: 650px) {
  .search-box {
    padding: 10px 20px;
    width: 350px;
    margin: 10px 0px;
    color: rgb(78, 78, 78);
    font-size: large;
    font-family: "Poppins";
    border-radius: 5px;
    box-shadow: 2px 2px 10px gray;
  }
}
